
<div class="container mt-5" *ngIf="singleStudent">
    <div class="row">
        <h1 class="text-center my-5" >{{singleStudent.name}}</h1>
        <h1 class="text-center my-5" >{{singleStudent.number}}</h1>
        <h1 class="text-center my-5" >{{singleStudent.mailid}}</h1>
        <h1 class="text-center my-5" >{{singleStudent.class}}</h1>
        <h1 class="text-center my-5" >{{singleStudent.branch}}</h1>
        <h1 class="text-center my-5" >{{singleStudent.section}}</h1>
    </div>
   <!-- <div class="row my-5">
        <h1 class="text-center my-5" >{{singleBlog.title}}</h1>
        <div class="row">
            <div class="col-lg-6">
                <img class="blog-img-body img-fluid" src="../../assets/images/blog display.jpg">
            </div>
            <div class="col-lg-6">
                <P class="text-start blog-body" >{{singleBlog.body}}</P>
            </div>
        </div>
    </div> 
    <div class="row my-5">
        <div class="col-lg-6 text-center">
            
        </div>
        <div class="col-lg-6 text-center">
            <h3 class="" >Author : {{singleBlog.author}}</h3>
        </div>
    </div>-->
</div>

