
    <div class="card bg-dark">
        <img src="../../assets/images/bg.jpg" style="height: 55rem;" class="card-img" alt="...">   
            <div class="card-img-overlay text-center text-white d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="card-title">Start With Your Student Management System</h1>
                    <Button (click)="createStudent()" class="btn btn-success">Create Student</Button>
                    <Button (click)="getStudent()" class="btn btn-primary">Students Lists</Button>
                </div>
            </div>
    </div>

